<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paulc.twittersentimentanalysis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Twitter Group Project"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Settings" android:screenOrientation="portrait" />
        <activity android:name=".NewAnalysis" />

        <service android:name="com.example.mick.service.ForegroundService" />

        <activity android:name="com.example.graphs.LineGraphActivity" android:screenOrientation="landscape" android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.graphs.BarChartActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"
            android:launchMode="singleTask" />
        <activity android:name="com.example.graphs.DetailGraphActivity" android:screenOrientation="portrait" />
        <activity android:name=".HistoryActivity" android:screenOrientation="portrait" />
        <activity android:name=".ImprintActivity" android:screenOrientation="portrait" />
        <activity android:name="com.example.graphs.HistoryTimelineActivity" android:screenOrientation="landscape" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HelpActivity" android:screenOrientation="portrait" />
        <activity android:name=".TweetHistoryActivity" android:screenOrientation="portrait" />

        <receiver
            android:name="com.example.mick.service.AnalysisSchedulTask"
            android:exported="true">
            <intent-filter>
                <action android:name="ANALYSIS_SCHEDULE_TASK" />
                <action android:name="ANALIZATION" />
            </intent-filter>
        </receiver>

        <activity android:name=".TaskScheduledActivity" android:screenOrientation="portrait"></activity>
    </application>

</manifest>